# =========================
# Supabase
# =========================

SUPABASE_URL=your_supabase_project_url
SUPABASE_KEY=your_supabase_publishable_key
SUPABASE_SECRET_KEY=your_supabase_secret_key


# =========================
# Flask
# =========================

SECRET_KEY=your_flask_secret_key


# =========================
# SMTP / Email OTP
# =========================

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password